.modal-body{
max-width: 800px;
padding: 10px;
margin: auto;
height: 100px;
}

.modal-header{
    max-width: 400px;
    padding: 10px;
    margin: auto;
    height: 100px;
}

.modal-footer{
    max-width: 450px;
    padding: 10px;
    margin: auto;
    height: 50px;
}