
  <div class="register-form" [hidden]="enEdicion === false">
    <div class="register-form">
      <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('name').errors }"
            placeholder="Ingrese el nombre"
          />
          <div *ngIf="submitted && itemForm('name').errors" class="invalid-feedback">
            <div *ngIf="itemForm('name').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('name').errors.maxlength">
              El campo tiene una longitud no permitida
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="pattern">Patrón de validación de identificación</label>
          <input
            type="text"
            id="pattern"
            formControlName="pattern"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('pattern').errors }"
            placeholder="Ingrese un patron de validación"
          />
          <div *ngIf="submitted && itemForm('pattern').errors" class="invalid-feedback">
            <div *ngIf="itemForm('pattern').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('pattern').errors.maxlength">
              El campo tiene una longitud no permitida
            </div>
          </div>
        </div>
  
    
        <div class="form-group">
          <button type="submit" class="btn btn-primary" *ngIf="idRegistro === 0">Crear</button>
          <button type="button" (click)="onActualizarForm()" class="btn btn-primary" *ngIf="idRegistro > 0 ">Actualizar</button>
          <button
            type="button"
            (click)="onResetForm()"
            class="btn btn-warning float-right"
          >
            Reset
          </button>
          <button
            type="button"
            (click)="onCancelarForm()"
            class="btn btn-default float-right"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>



<!-- HTML DE LA LISTA -->
<div class="row"  [hidden]="enEdicion === true">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tipos de vehículos</h4>
          
          <div class="row">
            <div class="col">
              <h5 class="card-subtitle text-muted">Sirve para clasificación de Vehiculos</h5>
            </div>
            <div class="col-auto">
              <button class="btn btn-success" (click)="onMostrarFormulario()">Crear nuevo</button>
            </div>
          </div>


          <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Icono</th>
                        <th class="text-dark font-medium fs-4">Nombre</th>
                        <th class="text-dark font-medium fs-4">Patron de validación</th>
                        <th class="text-dark font-medium fs-4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let typeVehicule of typeVehicles'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" alt="user" width="45" class="rounded-circle">
                            </div>
                        </td>
                        <td class="fs-4">{{typeVehicule.name}}</td>
                        <td>
                            
                            <div class="alert alert-warning" role="alert">
                                {{typeVehicule.pattern}}
                              </div>
                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-primary" (click)="mostrarFormularioModificar(typeVehicule)">Modificar</button>
                            <button type="button" class="btn btn-danger" (click)="abrirPopUpEliminar(typeVehicule)" >Eliminar</button>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- HTML DEL MODAL - CONFIRMAR ELIMINAR -->
  <div class="modal" tabindex="-1" role="dialog" 
    [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmando eliminacion</h4>
      </div>
      <div class="modal-body">
        <p>Confirma que desea eliminar el registro: {{registroSeleccionado?.name}}</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="deleteTypeVehicle(registroSeleccionado.id)" [disabled]="!registroSeleccionado">
          Si, eliminar
        </button>
        <button type="button" class="btn btn-secondary" 
                (click)="cerrarPopUpEliminar()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
