<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tipos de vehículos</h4>
          <h5 class="card-subtitle text-muted">Sirve para clasificación de Vehiculos</h5>
          <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Icono</th>
                        <th class="text-dark font-medium fs-4">Nombre</th>
                        <th class="text-dark font-medium fs-4">Patron de validación</th>
                        <th class="text-dark font-medium fs-4">Acciones</th>
                        <th class="text-dark font-medium fs-4">Budget</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of typeVehicles'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" alt="user" width="45" class="rounded-circle">
                            </div>
                        </td>
                        <td class="fs-4">{{ts.name}}</td>
                        <td>
                            
                            <div class="alert alert-warning" role="alert">
                                {{ts.pattern}}
                              </div>
                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-primary">Modificar</button>
                            <button type="button" class="btn btn-danger" (click)="abrirPopUpEliminar()" >Eliminar</button>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" 
    [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">GeeksForGeeks</h4>
      </div>
      <div class="modal-body">
        <p>One Stop Solution for all CS problems</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="cerrarPopUpEliminar()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
