<div class="modal-header">
    <h4 class="modal-title"> {{ titulo }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancelar()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-center">
    Esta seguro que desea eliminar: <br> <b>{{ entidad }}: {{referencia}}</b>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onCancelar()"> Cancelar </button>
    <button type="button" class="btn btn-primary" (click)="onConfirmar()"> Eliminar </button>
</div>