<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tipos de vehículos</h4>
          
          <div class="row">
            <div class="col">
              <h5 class="card-subtitle text-muted">Sirve para clasificación de Paises</h5>
            </div>
            <div class="col-auto">
              <button class="btn btn-success" (click)="onMostrarFormulario()">Crear nuevo</button>
            </div>
          </div>


          <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Icono</th>
                        <th class="text-dark font-medium fs-4">Nombre</th>
                        <th class="text-dark font-medium fs-4">Sigla</th>
                        <th class="text-dark font-medium fs-4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let pais of paises'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" alt="user" width="45" class="rounded-circle">
                            </div>
                        </td>
                        <td class="fs-4">{{pais.nombre}}</td>
                        <td>
                            
                            <div class="alert alert-warning" role="alert">
                                {{pais.sigla}}
                              </div>
                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-primary" (click)="mostrarFormularioModificar(pais)">Modificar</button>
                            <button type="button" class="btn btn-danger" (click)="abrirPopUpEliminar(pais)" >Eliminar</button>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
        </div>
      </div>
      
    </div>
  </div>
