<h1 mat-dialog-title> {{titulo}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmitForm()">

  <mat-dialog-content>

    <div class="register-form">


        <div class="form-group">
          

       <label for="nombre">Fabrica</label>
         <input type="text" id="nombre" formControlName="nombre" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('nombre').errors }" 
            placeholder="Ingrese el nombre" autocomplete="off" />
            <div *ngIf="submitted && itemForm('nombre').errors" class="invalid-feedback">
            <div *ngIf="itemForm('nombre').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('nombre').errors.maxlength">El campo tiene una longitud no permitida</div>
            </div>
      </div>


      <div class="form-group">
        <label for="nombreContacto">Nombre del Contacto</label>
         <input type="text" id="nombreContacto" formControlName="nombreContacto" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('nombreContacto').errors }" 
            placeholder="Ingrese el nombre del  Contacto" autocomplete="off" />
            <div *ngIf="submitted && itemForm('nombreContacto').errors" class="invalid-feedback">
            <div *ngIf="itemForm('nombreContacto').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('nombreContacto').errors.maxlength">El campo tiene una longitud no permitida</div>
            </div>
      </div>


      <div class="form-group">
        <label for="telefonoContacto">Telefono del  Contacto</label>
         <input type="text" id="telefonoContacto" formControlName="telefonoContacto" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('telefonoContacto').errors }" 
            placeholder="Ingrese el telefono del Contacto" autocomplete="off" />
            <div *ngIf="submitted && itemForm('telefonoContacto').errors" class="invalid-feedback">
            <div *ngIf="itemForm('telefonoContacto').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('telefonoContacto').errors.maxlength">El campo tiene una longitud no permitida</div>
            </div>
      </div>

      <div class="form-group">
        <label for="correoContacto">Correo del Contacto</label>
         <input type="text" id="correoContacto" formControlName="correoContacto" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && itemForm('correoContacto').errors }" 
            placeholder="Ingrese el Correo del  Contacto" autocomplete="off" />
            <div *ngIf="submitted && itemForm('telefonoContacto').errors" class="invalid-feedback">
            <div *ngIf="itemForm('correoContacto').errors.required">EL campo requerido</div>
            <div *ngIf="itemForm('correoContacto').errors.maxlength">El campo tiene una longitud no permitida</div>
            </div>
      </div>

      <div class="form-group">
      <label for="pais">Pais</label>
          <select id="pais" formControlName="pais" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && itemForm('pais').errors }">
            <option value="" disabled selected>Selecciona un Pais </option>
            <option *ngFor="let marcafInternoItem of arregloPaisesPopUp" [value]="marcafInternoItem.id">
              {{ marcafInternoItem.nombre }}
            </option>
          </select>
          <div *ngIf="submitted && itemForm('pais').errors" class="invalid-feedback">
            <div *ngIf="itemForm('pais').errors.required">El campo es requerido</div>
            <div *ngIf="itemForm('nombre').errors.maxlength">El campo tiene una longitud no permitida</div>
          </div>
        </div>


    </div>
  </mat-dialog-content>


  <mat-dialog-actions class="align-items-sm-center">
    <div class="col text-center ">
    <button type="submit" class="btn btn-primary " *ngIf="idRegistro === 0">Crear</button>
    <button type="button" (click)="onActualizarForm()" class="btn btn-primary"*ngIf="idRegistro > 0 ">Actualizar</button>
    <button type="button" (click)="onResetForm()" class="btn btn-warning float-right">Reset</button>
    <button type="button" (click)="onCancelarForm()" class="btn btn-info float-right">Cancelar</button>
    </div>
  </mat-dialog-actions>

</form>